<!--<ng-select
  [items]="bullets"
  bindValue="value" bindLabel="name"
  [(ngModel)]="bullets"
></ng-select>-->
<!--<label>Custom label option and optgroup</label>-->
<div class="ng-input login-container">
  <ng-select placeholder="login..." [items]="cities3" groupBy="avatar" [(ngModel)]="selectedCity3" bindLabel="name" bindValue="name">
    <ng-template ng-label-tmp let-item="item">
      <img alt="aaa" height="15" width="15" [src]="item.avatar"/>
      <b>{{item.name}}</b>
    </ng-template>
    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
      City group logo <img alt="bbb" height="15" width="15" [src]="item.avatar"/>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-indexy="index" let-search="searchTerm">
      <b [ngOptionHighlight]="search">{{indexy}} {{item.name}}</b>
    </ng-template>
  </ng-select>
</div>
<p class="separator">
  <!--Selected city name: {{selectedCity3}}-->
</p>

<div class="ng-input password-field">
  <!--<label>Custom label</label>-->
  <ng-select placeholder="hasło..." [items]="cities" [(ngModel)]="selectedCity" bindLabel="name" bindValue="name">
    <ng-template ng-label-tmp let-item="item">
      <img alt="ccc" height="15" width="15" [src]="item.avatar"/>
      {{item.name}}
    </ng-template>
  </ng-select>
</div>
<div class="link">
  <a target="_blank" rel="noopener" href="">załóż konto</a>
</div>
<!--<hr>-->
