div {
  width: 300px;
  text-align: left;
  margin-left: 30vmin;
  margin-top: 0;
  margin-bottom: 0;
  /*border: 2px solid black;*/
}

div.div-account {
  margin-left: 30vmin;
  margin-top: 20vmin;
  margin-bottom: 1.7vmin;
  /*border: 2px solid black;*/
}

div.inline.button {
  text-align: right;
  margin-left: 0;
}

div.inline.link {
  text-align: left;
  line-height: 1;
}

div.link > a {
  color: #00407f;
}

.login-container {
}

.password-container {
}
