<div class="div-account">
  <h2 class="h2-account">Zaloguj się</h2>
</div>
<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="login...">
  </div>
  <p class="separator"></p>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password...">
  </div>
  <p class="separator"></p>
</form>
<div class="inline link">
  <a target="_blank" rel="noopener" href="">załóż konto</a>
</div>
<div class="inline button">
  <button type="submit" class="btn btn-primary">wyślij</button>
</div>
