/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
  background-image: repeating-radial-gradient(
    circle farthest-corner at bottom right,
    rgba(0, 0, 160, 0.75),
    rgba(32, 107, 159, 0.65),
    rgb(255, 255, 255),
    rgba(155, 253, 255, 0.7),
    rgba(33, 106, 133, 0.5),
    rgba(29, 97, 140, 1));
  /*background-color: #1D618C;*/
  /*background-color: #206B9F;*/
  /*background-color: #9BFDFF;*/
  /*background-color: #216A85;*/
  background-attachment: fixed;
}

.inline {
  display: inline-block;
  /*border: 2px solid black;*/
  max-width: 150px;
  vertical-align: top;
}

.h2-account {
  color: #00407f;
  text-decoration: none;
  background-color: transparent;
}

p.separator {
  margin: 1.7vmin;
}

div {
  width: 300px;
  text-align: left;
  margin-left: 30vmin;
  margin-top: 0;
  margin-bottom: 0;
  /*border: 2px solid black;*/
}

div.div-account {
  margin-left: 30vmin;
  margin-top: 20vmin;
  margin-bottom: 1.7vmin;
  padding-left: 2px;
  /*border: 2px solid black;*/
}

div.inline.button {
  text-align: right;
  margin-left: 0;
}

div.inline.link {
  text-align: left;
  line-height: 1;
  padding-left: 2px;
}

nav > a {
  color: #00407f;
}

div.inline.validate {
  margin-left: 0;
  padding-left: 2px;
}
