<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<form>
    <label>Czy przejęta?
        <!--{{myModel}}--><!--[(ngModel)]="myModel"-->
        <!--<select (change)="setCzyPrzejeta(pozycja)" [(ngModel)]="pozycja" [multiple]=false name="pozycja">-->
        <select #selectElement (change)="setCzyPrzejeta(selectElement.value)" [multiple]=false>
            <option *ngFor="let i of pozycje" [ngValue]="i">{{i}}</option>
            <!--<option [ngValue]="pozycje[0]">{{pozycje[0]}}</option>-->
            <!--<option [ngValue]="pozycje[1]">{{pozycje[1]}}</option>-->
            <!--<option [ngValue]="pozycje[2]">{{pozycje[2]}}</option>-->
        </select>
    </label>
</form>


setCzyPrzejeta(pp: string): void {
if (pp === this.pozycje[0]) {
this.czyPrzejeta = null;
} else {
this.czyPrzejeta = (pp === this.pozycje[1]);
}
// alert(this.czyPrzejeta);
console.log(this.czyPrzejeta);
}

czyPrzejeta?: boolean;
pozycje: string[] = ['WSZYSTKIE', 'TAK', 'NIE'];
pozycja: string;
